body {
  background-image: url('images/bg.gif');
  background-size: cover;
  background-attachment: fixed;
  font-family: 'poppins', sans-serif;
  font-size: 17px;
  font-weight: 600;
  color: white;
}

body::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 140%;
  background-color: rgba(0, 0, 0, 0.8); /* adjust the opacity as needed */
  z-index: -100;
  background-repeat: repeat;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  z-index:500;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  margin: 0 10px;
}

nav a {
  float: left;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 14px 16px;
  display: block;
  font-family: 'poppins', sans-serif;
  opacity: 1;
  background-color: transparent;
  transition: opacity 0.5s ease-in-out, background-color 0.5s ease-in-out; /* add a smooth transition animation to the opacity and background-color properties */
}

nav a:hover {
  opacity: 0.5; /* set the opacity to 0.5 when hovering */
  color: #70AFCE; /* set the background-color to #70AFCE when hovering */
}

.header-text {
  position: absolute;
  top: 60px; /* adjust the top value to position the header text correctly */
  left: 50%;
  opacity: 0;
  transform: translateY(20px);
  animation: header-text 2s ease-in-out forwards;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight:700;
  margin-top: 2rem;
  margin-left: -250px;
}



.header-text.hidden {
  top: -100px;
}

@keyframes header-text {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }	
}
.rectangle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* set the background color and opacity of the overlay */
  z-index: -3; /* set the z-index to position the overlay behind the .rectangle element */
}

/*steam*/



nav .active a {
  color: #70AFCE;
  font-weight: bold;
}

.rectangle {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 400px;
  background-image: url(images/val.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid #000;
  margin-top: 300px;
  margin-left: 375px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-50px);
  animation: slide-in 1s ease-out forwards;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.rectangle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* set the background color and opacity of the overlay */
  z-index: 3; /* set the z-index to position the overlay behind the .rectangle element */
  border-radius: 20px;
}
  .rectangle .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
}

.rectangle .overlay h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  font-family: 'Poppins', sans-serif;
  z-index:4;
}


.rectangle2::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9); /* set the background color and opacity of the overlay */
  z-index: -3; /* set the z-index to position the overlay behind the .rectangle element */
}

/*epicgames*/
.rectangle2 {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 400px;
  background-image: url(images/lol.jpg);
  background-size: cover;
  background-position: center;
  border: 1px solid #000;
  margin-top: 300px;
  margin-left: 100px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-50px);
  animation: slide-in 1s ease-out forwards;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.rectangle2::before {
  transition: opacity 0.5s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* set the background color and opacity of the overlay */
  z-index: 3; /* set the z-index to position the overlay behind the .rectangle element */
  border-radius: 20px;
}
  .rectangle2 .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
}

.rectangle2 .overlay h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  font-family: 'Poppins', sans-serif;
  z-index:4;
}

/*rg*/

.rectangle3 {
  position: relative;
  display: inline-block;
  width: 250px;
  height: 400px;
  background-image: url(images/rg.png);
  background-size: cover;
  background-position: center;
  border: 1px solid #000;
  margin-top: 300px;
  margin-left: 100px;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-50px);
  animation: slide-in 1s ease-out forwards;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes slide-in {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.rectangle3::before {
  transition: opacity 0.5s ease-in-out;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* set the background color and opacity of the overlay */
  z-index: 3; /* set the z-index to position the overlay behind the .rectangle element */
  border-radius: 20px;
}
  .rectangle3 .overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
}

.rectangle3 .overlay h2 {
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  font-family: 'Poppins', sans-serif;
  z-index:4;
}

.logo {
			position: fixed;
			top: 0;
			left: -5;
			margin: 15px;
			width: 35px; /* set the width of the image */
			height: auto; /* maintain aspect ratio */
}

@media screen and (max-width: 600px){
    	body::before{
		width:235%;
		height:400%;
	}
	.header-text{
		left: 400px;
		font-size: 2.9rem;
		font-weight: 700;
		white-space: nowrap;
		overflow-x: auto;
		width: 800%;
		max-width: 600px;
		top: 100px;
	}
	.rectangle{
		margin-left:298px;
	}

	.rectangle2{
		margin-left:298px;
	}

	.rectangle3{
		margin-left:298px;
	}
}