.landing-page {
  height: 100vh;
}
@media (max-width: 450px) {
  .landing-page {
    height: 110vh;
  }
  body::before{
      height: 110vh;
  }
}
.landing-page .container .content {
  display: block;
  width: 600px;
  margin: 50px 0;
}
@media (max-width: 900px) {
  .landing-page .container .content {
    width: 100%;
  }
}
.landing-page .container .content h1 {
  font-size: 40px;
  overflow-wrap: break-word;
}
.landing-page .container .content p {
  font-size: 14px;
  font-weight: 500;
  overflow-wrap: break-word;
}
.landing-page .container .content button {
  all: unset;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  background-color: #5d92c9;
  padding: 20px 70px;
  border-radius: 20px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.7s;
}
.landing-page .container .content button:hover {
  color: #5d92c9;
  background-color: #fff;
}
.fbs {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-top:-20px;
}

.fbs img {
  width: 30px; /* set the width of the image */
  margin-right: 10px;
  
}

.fbs img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  z-index: 5;
}
.image-text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px; /* add a margin to the left of the text */
}

.fbs2 {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #000;
  margin-top:-20px;
}

.fbs2 img {
  width: 30px; /* set the width of the image */
  margin-right: 10px;
  margin-top:-80px;
}

.fbs2 img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.5;
  z-index: 5;
}
.image-text2 {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  margin-left: 10px; /* add a margin to the left of the text */
  margin-top:-80px;
}